.upcomingEvent
{
    display: inline-block;

    width: 200px;
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    vertical-align: text-top;
}

.upcomingEventTitle
{
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
}

.upcomingEventImage
{
    width: 200px;
    height: 200px;
    margin-top: 5px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
       -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
            box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);

         -o-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
}

.upcomingEventInfo
{
    font-size: 15px;

    width: 170px;
    height: 20px;
    margin-top: 10px;

    text-align: left;

    color: #9b8a76;
}

.facebook-sign
{
    display: inline-block;

    width: 20px;
    height: 20px;
    margin-top: 10px;

    cursor: pointer;

    background-image: url('../img/facebook.png');
}

.facebook-sign:hover
{
    background-image: url('../img/facebook-hover.png');
}

@media all and (max-width: 950px)
{
    #upcomingEvents
    {
        text-align: center;
    }

    .upcomingEventDate
    {
        text-align: left;
    }
}
