#contactGegevens
{
    float: left;

    width: 50%;
    margin-top: 20px;
}

#map
{
    float: right;
    overflow: hidden;

    width: 50%;
    height: 400px;
    margin-top: 20px;

    border: solid thin rgba(50, 50, 50, .25);
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .25);
       -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .25);
            box-shadow: 0 0 20px 0 rgba(50, 50, 50, .25);

         -o-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .25);
}

@media all and (max-width: 950px)
{
    #contactGegevens
    {
        width: 100%;
    }

    #map
    {
        float: left;

        width: 100%;
    }
}
