.container
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-text
{
    position: absolute;
    top: 52.5%;
    right: auto;
    left: 5%;

    width: 90%;
}

.header-text h2
{
    font-size: 30px;

    color: rgba(25,25,25,.9);
}

.header-text h3
{
    font-size: 20px;

    color: rgba(255,255,255,.9);
}

.header-text h2 span
{
    padding: 5px 10px 5px 10px;

    border: .5px solid rgba(25,25,25,.9);
    border-radius: 2.5px;
    background-color: rgba(255,255,255,.9);
    -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
       -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
            box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);

         -o-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
}

.header-text h3 span
{
    padding: 5px 10px 5px 10px;

    border: .5px solid rgba(255,255,255,.9);
    border-radius: 2.5px;
    background-color: rgba(25,25,25,.9);
    -webkit-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
       -moz-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
            box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);

         -o-box-shadow: 0 0 20px 0 rgba(50, 50, 50, .5);
}

.btn-min-block
{
    line-height: 26px;

    min-width: 170px;
}

.btn-theme
{
    margin-right: 15px;

    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}

.btn-theme:hover
{
    color: #000;
    border-color: #fff;
    background-color: #fff;
}

.newsImage
{
    border: 1px solid grey;
}
