.container
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-text
{
    position: absolute;
    top: 45%;
    right: auto;
    left: 1.8%;

    width: 90%;
}

.header-text h2
{
    font-size: 30px;

    color: rgba(25,25,25,.9);
}

.header-text h3
{
    font-size: 20px;

    color: rgba(255,255,255,.9);
}

.header-text h2 span
{
    padding: 5px 10px 5px 10px;

    background-color: rgba(255,255,255,.9);
}

.header-text h3 span
{
    padding: 5px 10px 5px 10px;

    background-color: rgba(25,25,25,.9);
}

.btn-min-block
{
    line-height: 26px;

    min-width: 170px;
}

.btn-theme
{
    margin-right: 15px;

    color: #fff;
    border: 2px solid #fff;
    background-color: transparent;
}

.btn-theme:hover
{
    color: #000;
    border-color: #fff;
    background-color: #fff;
}

.newsImage
{
    border: 1px solid grey;
}
