html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Roboto, sans-serif;
    font-style: normal;

    min-width: 350px;
    height: 100%;

    background: url(../img/background-min.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a{
    outline: medium none !important;
}

#wrapper {
    width: 90%;
    max-width: 1100px;
    margin: auto;

    height: auto !important;
    min-height: 100%;
}

#header {
    margin-top: 30px;
    height: 140px;
}

#logo {
    float: left;
    width: 20%;
}

#menu {
    float: right;
    position: relative;
    margin-top: 100px;
    width: 80%;

    font-variant: small-caps;
    font-weight: 600;
}

.horizontal-menu {
    padding: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: right;
}

.horizontal-menu li {
    display: inline-block;
}

.horizontal-menu li a {
    font-size: 15px;
    font-weight: bolder;
    line-height: 20px;
    color: #5c3219;
    text-decoration: none;
    padding: 5px 5px;
}

.horizontal-menu li a:hover {
    border-bottom: solid #5c3219;
}

.horizontal-menu li .active {
    border-bottom: solid #5c3219;
}

.clear {
    clear: both;
}

#content {
    background-color: rgba(233, 209, 175, 0.85);
    color: #5f5449;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 30px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 0 0 12px 0 rgba(50, 50, 50, 0.25);
    -moz-box-shadow: 0 0 12px 0 rgba(50, 50, 50, 0.25);
    -o-box-shadow: 0 0 12px 0 rgba(50, 50, 50, 0.25);
    box-shadow: 0 0 12px 0 rgba(50, 50, 50, 0.25);
}

@media all and (max-width: 950px) {
    #header {
        text-align: center;
    }

    #logo {
        float: none;
        width: 100%;
    }

    #menu {
        margin-top: 0;
        width: 100%;
    }

    .horizontal-menu {
        text-align: center;
    }

    .horizontal-menu li {
        margin-top: 10px;
    }
}