<!DOCTYPE html>
<div id="upcomingEvents">
    <div class="upcomingEvent" ng-repeat="upcomingEvent in activiteitenModel.upcomingEvents"><span class="upcomingEventTitle" ng-bind="upcomingEvent.title"></span>
        <div class="clear"></div>
        <div><img ng-if="upcomingEvent.image" class="upcomingEventImage" ng-src="{{'data/activiteiten/frontimages/' + upcomingEvent.image}}" alt="Voorbeeld foto" onerror="this.src='img/default-image.jpg'"><img ng-if="!upcomingEvent.image" class="upcomingEventImage"
                src="img/default-image.jpg" alt="Voorbeeld foto"></div>
        <div class="clear"></div><span class="upcomingEventDate glyphicon glyphicon-calendar" aria-hidden="true"> <span ng-bind="activiteitenModel.getDate(upcomingEvent.date)"></span></span><a ng-if="upcomingEvent.facebook" ng-href="{{upcomingEvent.facebook}}"><span class="facebook-sign"></span></a></div>
</div>
