<!DOCTYPE html>
<div id="aankomendeActiviteiten">
  <h4 class="pageTitle">Geplande Evenementen</h4>

  <div class="activiteit" ng-repeat="upcomingEvent in activiteitenModel.upcomingEvents">
    <span class="title" ng-bind="upcomingEvent.title"></span>
    <div class="fotoWrapper">
      <img ng-if="upcomingEvent.image" class="foto" ng-src="{{'data/activiteiten/frontimages/' + upcomingEvent.image}}" alt="Voorbeeld foto" onerror="this.src='img/default-image.jpg'">
      <img ng-if="!upcomingEvent.image" class="foto" src="img/default-image.jpg" alt="Voorbeeld foto">
    </div>
    <div class="datumInfo">
      <span ng-if="activiteitenModel.getDate(upcomingEvent.date)">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        <span ng-bind="activiteitenModel.getDate(upcomingEvent.date)" style="margin-left: 5px;"></span>
      </span>
    </div>
    <div class="sociaal">
      <a class="facebook" ng-if="upcomingEvent.facebook" ng-href="{{upcomingEvent.facebook}}"></a>
    </div>
    <div class="locatieInfo" ng-if="upcomingEvent.location">
      <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
      <span ng-bind="upcomingEvent.location"></span>
    </div>
  </div>
</div>
