<!DOCTYPE html>
<div>
    <h4 class="pageTitle">Contactgegevens</h4>

    <div id="contactGegevens">
        <p>
            <strong>E-mailadres:</strong>
            jeugdhuisbrecht@gmail.com
        </p>
        <p>
            <strong>Adres:</strong>
            Ambachtslaan 10, 2960 Brecht
        </p>

        <div class="form-group" style="width: 90%;">
          <input type="text" class="form-control" ng-model="contactModel.mailModel.email" placeholder="email" style="margin: 5px" />
          <input type="text" class="form-control" ng-model="contactModel.mailModel.subject" placeholder="subject" style="margin: 5px" />
          <textarea type="text" class="form-control" rows="5" ng-model="contactModel.mailModel.message" placeholder="message" style="margin: 5px" />

          <button type="button" class="btn btn-primary" ng-click="contactModel.sendMail()" style="float: right;">Verstuur</button>
        </div>
    </div>

    <div id="map"></div>

    <script>
        function initMap() {
            var myLatLng = {
                lat: 51.35412,
                lng: 4.63235
            };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 17,
                center: myLatLng
            });

            var infowindow = new google.maps.InfoWindow({content: '<p><strong>Jeugdhuis \'t Bastion,</strong></p><p style="line-height: 5px;">Brechts jeugdhuis waar het voor de jongeren</p><p style="line-height: 5px;">van Brecht en omstreken gezellig vertoeven is.</p>'});

            var marker = new google.maps.Marker({position: myLatLng, map: map, title: 'Jeugdhuis \'t Bastion'});

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</div>
