<!DOCTYPE html>
<h4 class="pageTitle" ng-bind="eventFotosModel.eventTitle"></h4>

<div id="activiteitFotos">
  <a class="link" ng-repeat="image in eventFotosModel.eventImages" ng-click="eventFotosModel.showImageDetails($index)">
    <div class="fotoWrapper">
      <img ng-if="image.name" class="foto" ng-src="{{'data/fotos/' + eventFotosModel.eventId + '/' + image.name}}" alt="foto" onerror="this.src='img/default-image.jpg'">
      <img ng-if="!image.name" class="foto" src="img/default-image.jpg" alt="foto">
    </div>
    <div class="clear"></div>
    <span class="name" ng-bind="image.name"></span>
  </a>
</div>

<div class="modal" id="activiteitFotoModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" id="activiteitFotoModalBody">
        <button type="button" class="close" aria-label="Close" ng-click="eventFotosModel.hideModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
        <img class="activiteitFoto" ng-if="eventFotosModel.selectedImage.imageDetailName" ng-src="{{'data/fotos/' + eventFotosModel.eventId + '/' + eventFotosModel.selectedImage.imageDetailName}}" alt="foto" onerror="this.src='img/default-image.jpg'">
        <img class="activiteitFoto" ng-if="!eventFotosModel.selectedImage.imageDetailName" src="img/default-image.jpg" alt="foto">

        <a class="left carousel-control" role="button" style="position:absolute; top: 40px; cursor: pointer;" ng-click="eventFotosModel.lowerIndex()">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
        <a class="right carousel-control" role="button" style="position:absolute; top: 40px; cursor: pointer;" ng-click="eventFotosModel.higherIndex()">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
      </div>
    </div>
    <div class="modal-footer" id="activiteitFotoModalFooter">
      <div class="url">
        <strong>Deelbare Link: </strong> <a ng-href="{{eventFotosModel.selectedImage.imageUrl}}"><span ng-bind="eventFotosModel.selectedImage.imageUrlFull"></span></a>
      </div>
    </div>
  </div>
</div>
