<!DOCTYPE html>
<div>
    <div class="container">
        Welkom op de website van Jeugdhuis 't Bastion
        
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner" style="border: double white;">
                    <div class="item active">
                        <img src="http://unsplash.s3.amazonaws.com/batch%209/barcelona-boardwalk.jpg" alt="First slide" style="width: 100%; height: 300px;">
                        <div class="header-text hidden-xs">
                            <div class="col-md-12 text-right">
                                <h2>
                                    <span>Voortgang strijkatelier</span>
                                </h2>
                                <h3 style="margin-top: 12.5px;">
                                    <span>Vandaag werken gestart aan het toekomstige jeugdhuis!</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" style="cursor: pointer;" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" style="cursor: pointer;" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
        </div>
    </div>
</div>
