<!DOCTYPE html>
<div>
    <h4 class="pageTitle">Jeugdhuis 't Bastion</h4>

    <div id="newsFeedCarrousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" style="bottom: 5px;">
            <li data-target="#newsFeedCarrousel" ng-repeat="news in homeModel.newsFeed" ng-class="{active : $first}" data-slide-to="{{$index}}" style="border: 1px solid #000;"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item" ng-repeat="news in homeModel.newsFeed" ng-class="{active : $first}">
                <img ng-src="{{'data/newsfeed/images/' + news.image}}" alt="slide" class="newsImage" style="width: 100%; height: 300px;" />
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-right">
                        <h2>
                            <span ng-bind="news.headerTitle"></span>
                        </h2>
                        <h3 style="margin-top: 12.5px;">
                            <span ng-bind="news.headerInfo"></span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({interval: 10000})
    });
</script>
