<!DOCTYPE html>
<div>
  <h4 class="pageTitle">Werking</h4>

  <h5 style="margin-top: 25px;"><strong>Korte historiek</strong></h5>
  <p>Begin 2013 richtte een kleine vriendengroep JH ’t Bastion op. Naar hun gevoel miste de gemeente Brecht een echte stek voor de jeugd, een ontmoetingsplek waar ze ongedwongen konden ‘chillen’, feesten, evenementen organiseren, … iets waar ze ook de infrastructurele
    mogelijkheden hadden om hun eigen ding te doen! Ze besloten er hun doel van te maken om de Brechtse jeugd zo’n jeugd<i>thuis</i> te geven.</p>
  <p>Tijdens de eerste levensjaren van het jeugdhuis moest er gezocht worden naar creatieve oplossingen. Bij gebrek aan een eigen lokaal organiseerde Jeugdhuis 't Bastion evenementen en feestjes op verschillende locaties in de gemeente. In de tussentijd
    kregen de oorspronkelijke oprichters ook steun van een nieuwe generatie Brechtse jongeren die zich achter het project schaarden.</p>
  <p>Eind 2016 was het dan zover! Na enkele jaren zonder vaste locatie kreeg Jeugdhuis 't Bastion groen licht van het gemeentebestuur: het mocht zijn intrek nemen in het voormalige strijkatelier in de Ambachtslaan. Met een beperkt eigen budget en met de
    financiële steun van de gemeentelijke jeugddienst werden de werfcontainers omgetoverd tot een gezellige ‘place to be’. Do you zqnt to check it out yourself? Bekijk dan onze foto’s en kom eens langs op één van onze caféavonden (zie '<strong>Contact</strong>' voor openingsuren) of evenementen
    (zie '<strong>Activiteiten</strong>').</p>

  <h5 style="margin-top: 25px;"><strong>Algemene werking</strong></h5>
  <p>De werking van Jeugdhuis ’t Bastion bestaat uit een bestuur, vier werkgroepen en een groep van actieve leden. Het <b>bestuur</b> waakt over de continuïteit van het jeugdhuis, o.a. door de financiën te beheren, de werking van de werkgroepen op te volgen,
    subsidiedossiers te schrijven, het jeugdhuis te vertegenwoordigen op externe vergaderingen, enzovoort. Maar bestuursleden zijn uiteraard ook regelmatig terug te vinden aan de toog!</p>
  <p>Het bestuur van Jeugdhuis 't Bastion bestaat uit:</p>

  <div id="bestuursleden">
    <div class="bestuurslid">
      <div class="fotoWrapper">
        <img class="foto" src="img/bestuur_voorzitter.jpg" alt="bestuur_voorzitter">
      </div>
      <span class="naam"><strong>Dries Janssen (voorzitter)</strong></span>
    </div>
    <div class="bestuurslid">
      <div class="fotoWrapper">
        <img class="foto" src="img/bestuur_ondervoorzitter.jpg" alt="bestuur_ondervoorzitter">
      </div>
      <span class="naam"><strong>Ruben Pauwels (ondervoorzitter)</strong></span>
    </div>
    <div class="bestuurslid">
      <div class="fotoWrapper">
        <img class="foto" src="img/bestuur_secretaris.jpg" alt="bestuur_secretaris">
      </div>
      <span class="naam"><strong>Jeroen Janssen (secretaris)</strong></span>
    </div>
    <div class="bestuurslid">
      <div class="fotoWrapper">
        <img class="foto" src="img/bestuur_penningmeester.jpg" alt="bestuur_penningmeester">
      </div>
      <span class="naam"><strong>Laurens Van Bergen (penningmeester)</strong></span>
    </div>
    <div class="bestuurslid">
      <div class="fotoWrapper">
        <img class="foto" src="img/bestuur_extra1.jpg" alt="bestuur_extra1">
      </div>
      <span class="naam"><strong>Dries Ooms</strong></span>
    </div>
    <div class="bestuurslid">
      <div class="fotoWrapper">
        <img class="foto" src="img/bestuur_extra2.jpg" alt="bestuur_extra2">
      </div>
      <span class="naam"><strong>Darragh Gysen</strong></span>
    </div>
    <div class="clear"></div>
  </div>

  <p>De <b>werkgroepen</b> houden zich bezig met het organiseren van allerhande activiteiten. Concreet gaat het over ‘feestjes’, ‘dagactiviteiten’, ‘sport en spel’ en ‘BlackBird’. We stellen elke werkgroep even kort aan je voor:</p>
  <ul style="margin-left: 20px;">
    <li>De werkgroep ‘<b>feestjes</b>’ zit vol met feestneuzen. Ze houden van instrumentele en elektronische muziek, dansen, eens goed uit de bol gaan, … én weten perfect wat daarvoor nodig is! In het verleden organiseerden ze al feestjes zoals ‘Locomotive’
      en ‘Revelations’, net zoals het beerpong toernooi en het beurscafé.</li>
    <li>De werkgroep ‘<b>dagactiviteiten</b>’ herken je wellicht van het jaarlijkse standje op de paasmarkt, de quiz of filmavond. Voor hen hoeft het niet altijd zo gek te zijn: gezelligheid, ontdekking en ontspanning staan centraal.</li>
    <li>Het jaarlijkse FIFA-toernooi en de Blacklight Volleybal Cup zijn dan weer enkele van de verwezenlijkingen van de werkgroep ‘<b>sport en spel</b>’. Deze ‘sporties’ zijn steeds op zoek naar een gezonde mix van competitie en fun! Zij beheren ook het
      zaalvoetbalteam ‘ZVC ’t Bastion’, waarmee jaarlijks gestreden wordt om het kampioenschap in een vriendschappelijke zaalvoetbalcompetitie.</li>
    <li>De werkgroep '<b>BlackBird</b>' houdt zich bezig met de organisatie van ons zomerse 'BlackBird Festival'. Het zijn de Choukri Mahasinne’s en Herman Verscheuren’s van het jeugdhuis: kennis van (lokale) muziek, zin voor initiatief en nooit het financiële
      plaatje uit het oog verliezen.</li>
  </ul>

  <p>Voel je ook de goesting om activiteiten te organiseren of ondersteunen? Of heb je gewoon een leuk idee voor een activiteit? Laat het ons weten via mail (<u>jeugdhuisbrecht@gmail.com</u>) of meld je aan als actief lid op deze website. Je kan het ons
    natuurlijk ook altijd komen vertellen in het jeugdhuis!</p>
  <p>Onze groep van ‘<b>actieve leden</b>’ staan steeds paraat om mee te helpen tijdens activiteiten, te tappen op de caféavonden, enzovoort. Ze steken graag een handje toe, maar het bedenken en organiseren laten ze liever over aan anderen!</p>

</div>
